<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try EasyAI</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>
<body>
<div class="cont">
    <div class="form sign-in">
        <div>
            <img src="static/img/logotext-brain.png" alt="m2l">
        </div>
        <h4> EzeeAI <b>Register</b></h4>
        <!--<p class="pgraph"> Introduce your name and email and we will send you and email with your credential to use it!</p>-->
        <form id="form" method="POST" action="/register">
            <label>
                <span>Email</span>
                <input id="email" name="email" required="" type="email">
            </label>
            <div class="error">
                {{ error }}
            </div>


            <div class="row">
                <div class="column left">
                    <input id="consent" type="checkbox">
                </div>
                <div class="column right">

                    <div class="error" id="error_consent">
                    </div>
                    <span>  I consent to having this website store my
            submitted information so they can respond to my inquiry.</span>
                </div>
            </div>


            <button id="submit" type="button" class="submit" click="loader()"
                    disabled>{{ form.submit }}</button>
        </form>
    </div>

    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2> EzeeAI </h2>
                <p>Enter your name and email and we will send you an email with your credentials to use it!</p>
                <a class="button" href="{{ ezeeai_url }}"> Login page</a>
            </div>

        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        if ($('#consent').checked) {
            $('#submit').prop('disabled', false);
            $('#error_consent').text('');
        }
        $('#email').type = 'email';
        $('#form').on('submit', function () {
            if (!$('#consent').is(":checked")) {
                $('#error_consent').text('Checkbox should be checked to submit');
                return false;
            }
            $('#submit').val('Creating new user...')
        });
        $('#consent').change(function () {
            if ($(this).is(":checked")) {
                $('#submit').prop('disabled', false);
                $('#error_consent').text('');
            } else {
                $('#submit').prop('disabled', true);
            }
        });
    });
</script>

</body>
</html>
