<p >Hello <b>{{username}}</b>,</p><br>

<p>You or someone else has requested that a new user be generated.<br>
    This is your credentials to use EasyAI:

    <br>
    <div style="color:blue">
    <a href="">USER : <strong> {{username}} </strong></a><br>
    <a href="">PASSWORD : <strong> {{password}} </strong></a><br>
    </div>
    <br>

    If you did not make this request, then you can simply ignore this email.</p><br>
<br>
<br>
<p> Best,<br>
    <a href="https://machine2learn.com/">Machine2Learn </a></p>

